<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="A layout example that shows off a blog page with a list of posts.">
    <link rel="manifest" href="/manifest.json">

    <link rel="stylesheet" href="css/pure/pure-min.css">
    <link rel="stylesheet" href="css/lightbox.min.css">

    <script src='js/jquery-3.3.1.min.js'></script>
  <script src='js/jsrender.min.js'></script>
    <script src='js/anynews.js'></script>
   <script src='js/lightbox.min.js'></script>

    <title>The News</title>
    
    
    <!--[if lte IE 8]>
        <link rel="stylesheet" href="css/pure/grids-responsive-old-ie-min.css">
    <![endif]-->
    <!--[if gt IE 8]><!-->
        <link rel="stylesheet" href="css/pure/grids-responsive-min.css">
    <!--<![endif]-->
    
    
        <!--[if lte IE 8]>
            <link rel="stylesheet" href="css/layouts/blog-old-ie.css">
        <![endif]-->
        <!--[if gt IE 8]><!-->
            <link rel="stylesheet" href="css/layouts/blog.css">
        <!--<![endif]-->
</head>
<body>


<div id="layout" class="pure-g">
    <div class="sidebar pure-u-1 pure-u-md-1-4">
        <div class="header">
            <h1 id="site-title" class="brand-title">The News</h1>
            <h2 id="site-description" class="brand-tagline">Direct to you!</h2>

            <nav class="nav">
                <ul class="nav-list">
                    <li class="nav-item">
                        <a class="pure-button" href="#" onClick="loadFeed('feed/rfa/index.xml','#postTemplate')">RFA News</a>
                    </li>
                    <li class="nav-item">
                        <a class="pure-button" href="#" onClick="loadFeed('feed/tibet/rss2.xml','#postTemplate')">Tibetan News</a>
                    </li>
                    <li class="nav-item">
                        <a class="pure-button" href="#" onClick="loadFeed('feed/uyghur/rss2.xml','#postTemplate')">Uyghur News</a>
                    </li>
                    <li class="nav-item">
                        <a class="pure-button" href="#" onClick="loadFeed('feed/urduvoa/index.xml','#postTemplate')">پاکستان - وائس آف امریکہ</a>
                    </li>
                    <li class="nav-item">
                        <a class="pure-button" href="#" onClick="loadFeed('feed/podcast/cantonese.xml','#podcastTemplate')">自由亞洲電台粵語部廣播 (Cantonese Podcast)</a>
                    </li>
                    <li class="nav-item">
                        <a class="pure-button" href="#" onClick="loadFeed('feed/rfa/index.xml','#imageTemplate')">Photo Feed</a>
                    </li>
                    <li class="nav-item">
                        <a class="pure-button" href="#" onClick="loadFeed('feed/rfa/index.xml','#headlineTemplate')">Headlines Only</a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>

    <div class="content pure-u-1 pure-u-md-3-4">
        <div>

            <div class="posts">
                <h1 class="content-subhead">Latest News</h1>
		<div id="output"></div>
            </div>
  <script id="imageTemplate" type="text/x-jsrender">
<section class="post">
                            <div class="pure-u-1 pure-u-md-1-2"  >
                                <a href="{{:imageSrc}}" data-lightbox="news" data-title="{{:imageDesc}}">
                                    <img alt="{{:imageDesc}}"
                                         class="pure-img-responsive"
                                         src="{{:imageSrc}}">
                                </a>

                                <div class="post-image-meta">
                                    <h3>{{:imageDesc}}</h3>
                                </div>
                            </div>
</section>

  </script>
  <script id="headlineTemplate" type="text/x-jsrender">
<header class="post-header">
<img alt="{{:imageDesc}}" class="pure-img-responsive" src="{{:imageSrc}}" width="128px" style="float:left;margin:6px;">
                        <h3 class="post-title" style="font-size:18pt" onClick="$('#{{:index}}').show()">{{:title}}</h3>
                   <div class="post-description"><p>{{:pubDate}}</p></div>
                    </header>
		   <div id="{{:index}}" class="post-description" style="display:none;"><p>{{:content}}</p></div>
</script>
  <script id="podcastTemplate" type="text/x-jsrender">
<section class="post"><header class="post-header">

                        <h2 class="post-title">{{:title}}</h2>
                        <p class="post-meta"><a class="post-author" href="#">{{:author}}</a> {{:category}} {{:pubDate}}</p>
                    </header>
                   <div class="post-description"><p>{{:description}}</p></div>
		<div class="post-description"> <audio controls>
  <source src="{{:enclosure}}" type="audio/mpeg">
Your browser does not support the audio element.
</audio> </div>
</section>
  </script>
  <script id="postTemplate" type="text/x-jsrender">
<section class="post"><header class="post-header">
                        <h2 class="post-title">{{:title}}</h2>
                        <p class="post-meta"><a class="post-author" href="#">{{:author}}</a> {{:category}} {{:pubDate}} <a href="{{:link}}">&#x1F310;</a></p>
                    </header>
                   <div class="post-description"><p>{{:description}}</p></div>
                   <div class="post-description">

{{if imageSrc && imageSrc.length}}
<div class="post-images pure-g">
                            <div class="pure-u-1 pure-u-md-1-2">
                                <a href="{{:imageSrc}}" data-lightbox="news" data-title="{{:imageDesc}}">
                                    <img alt="{{:imageDesc}}"
                                         class="pure-img-responsive"
                                         src="{{:imageSrc}}">
                                </a>

                                <div class="post-image-meta">
                                    <h3>{{:imageDesc}}</h3>
                                </div>
                            </div>

                        </div>
		</div>
{{else}}
{{/if}}
{{if enclosure && enclosure.length}}
		<div class="post-description"> <audio controls>
  <source src="{{:enclosure}}" type="audio/mpeg">
Your browser does not support the audio element.
</audio> </div>
{{else}}
{{/if}}
                   <div class="post-description"><p>{{:content}}</p></div>

</section>
</script>


            <div class="footer">
                <div class="pure-menu pure-menu-horizontal">
                    <ul>
                        <li class="pure-menu-item"><a href="#" class="pure-menu-link">About</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

<script> 
loadFeed('feed/rfa/index.xml','#imageTemplate') 
</script>

</body>
</html>
